<main role="main">
  <.flash flash={get_flash(@conn)} kind={:success} />
  <.flash flash={get_flash(@conn)} kind={:notice} />
  <.flash flash={get_flash(@conn)} kind={:error} />

  <%= @inner_content %>
</main>
