<main role="main">
  <p class="m-8">Welcome to Phoenix!</p>

  <.flash flash={@flash} kind={:success} />
  <.flash flash={@flash} kind={:notice} />
  <.flash flash={@flash} kind={:error} />

  <%= @inner_content %>
</main>
