<%= content_tag(:p, gettext("Hi %{user_email},", user_email: @user.email)) %>

<%= content_tag(:p, gettext("You can reset your password by visiting the URL below:")) %>

<%= content_tag(:p, @url) %>

<%= content_tag(:p, gettext("If you didn't request this change, please ignore this.")) %>
