<%= gettext("Hi %{user_email},", user_email: @user.email) %>

<%= gettext("You can change your email by visiting the URL below:") %>

<%= @url %>

<%= gettext("If you didn't request this change, please ignore this.") %>
